@font-face {
  font-family: "Vazir";
  src: url("../fonts/Vazir.ttf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.footer-down-items .scroll-btn-up {
  background: #ff9f1c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 40%;
  -webkit-box-shadow: 0 4px 10px 0px rgba(255, 159, 28, 0.2);
          box-shadow: 0 4px 10px 0px rgba(255, 159, 28, 0.2);
}

body {
  font-family: "Vazir";
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.container {
  max-width: 1300px;
  margin: auto;
  overflow: hidden;
}

.big-container {
  max-width: 1450px;
  margin: auto;
}

.navbar {
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  overflow: hidden;
}

.navbar-inner {
  width: 100%;
  background: #2c2738;
  padding: 0.2rem 0;
  border-radius: 2rem;
  z-index: 3;
  -webkit-box-shadow: 0 3px 10px 0 rgba(255, 255, 255, 0.2);
          box-shadow: 0 3px 10px 0 rgba(255, 255, 255, 0.2);
}

.navbar-inner .grid-menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 5fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 5fr 1fr 1fr;
}

.navbar-inner .grid-menu img {
  width: 4rem;
}

.navbar-inner .grid-menu li {
  text-align: center;
  margin: auto;
}

.navbar-inner .grid-menu #logo {
  width: 4rem;
  height: 4rem;
  margin: auto;
  background: url("../img/desktop/logo.png") no-repeat center center/cover;
}

.navbar-inner .grid-menu .links {
  color: #fff;
  text-decoration: none;
  margin: auto;
  font-size: 1.5rem;
  padding-bottom: 0.2rem;
  border-bottom: 2px solid transparent;
  border-radius: 1px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navbar-inner .grid-menu .links:hover {
  border-bottom-color: #ff9f1c;
}

.navbar-inner .grid-menu .burger {
  display: none;
}

/* showcase */
@media screen and (min-width: 1356px) {
  #head-show {
    background: url("../img/desktop/showcase-back.png") no-repeat center center/cover;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
  }
  #head-show .showcase {
    width: 100%;
    height: 100vh;
    z-index: -1;
  }
  #head-show .showcase-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 11vh;
  }
  #head-show .showcase-items img {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    position: relative;
    margin-left: -100px;
  }
  #head-show .showcase-items-content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: end;
    padding-right: 1rem;
    padding-left: 10rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #head-show .showcase-items-content h1 {
    color: #0880ae;
    font-size: 3rem;
    line-height: 1.1;
    font-weight: 900;
  }
  #head-show .showcase-items-content h1 span {
    font-weight: 300;
    font-size: 1.4rem;
    color: #756f86;
  }
  #head-show .scroll-btn-down {
    background: #ff9f1c;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 40%;
    -webkit-box-shadow: 0 4px 10px 0px rgba(255, 159, 28, 0.2);
            box-shadow: 0 4px 10px 0px rgba(255, 159, 28, 0.2);
    position: absolute;
    margin: auto;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 40px;
  }
  .line-showcase {
    width: 100%;
    height: 5px;
    background: #e8eff6;
  }
}

/* Section: Main */
.main-items {
  padding-top: 10rem;
}

.main-items .main-item-odd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 650px;
  padding-bottom: 3.5rem;
}

.main-items .main-item-odd-content {
  text-align: right;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  margin-bottom: 5rem;
}

.main-items .main-item-odd-content h2 {
  font-size: 2.1rem;
  color: #ff9f1c;
  max-width: 400px;
}

.main-items .main-item-odd-content p {
  line-height: 1.7;
  font-size: 1.4rem;
  color: #756f86;
  max-width: 400px;
}

.main-items .main-item-odd-bg {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

.main-items .main-item-odd-bg img:first-child {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.main-items .main-item-odd-bg img:last-child {
  position: absolute;
  top: 0;
  right: 100px;
  width: 694px;
  height: 490px;
}

.main-items .main-item-even {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 650px;
  padding-bottom: 3.5rem;
}

.main-items .main-item-even-content {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  text-align: right;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 5rem;
}

.main-items .main-item-even-content h2 {
  font-size: 2.1rem;
  color: #ff9f1c;
  max-width: 400px;
}

.main-items .main-item-even-content p {
  line-height: 1.7;
  font-size: 1.4rem;
  color: #756f86;
  max-width: 400px;
}

.main-items .main-item-even-bg {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

.main-items .main-item-even-bg img:first-child {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

.main-items .main-item-even-bg img:last-child {
  position: absolute;
  top: 0;
  left: 100px;
  width: 694px;
  height: 490px;
}

/* Section: Info */
.info {
  width: 100%;
}

.info-items {
  display: -ms-grid;
  display: grid;
  padding: 3rem;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem;
}

.info-items-item {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0.75;
  -webkit-box-shadow: 0 3px 10px 0 rgba(3, 3, 3, 0.2);
          box-shadow: 0 3px 10px 0 rgba(3, 3, 3, 0.2);
}

.info-items-item .line-info {
  height: 10px;
  background: #0880ae;
  border-radius: 10px 10px 0 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.info-items-item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-items-item-content h4 {
  font-size: 2.1rem;
  color: #0880ae;
}

.info-items-item-content p {
  margin-top: 1rem;
  color: #756f86;
  font-size: 1.4rem;
  line-height: 1.5;
  padding-bottom: 1.5rem;
}

.info-items-item-content-img {
  position: relative;
  margin-bottom: 2rem;
  border: 4px solid #ff9f1c;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info-items-item-content-img img {
  height: 50px;
  width: 50px;
}

.info-items-item:hover {
  cursor: default;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  -webkit-box-shadow: 0 3px 20px 0 rgba(3, 3, 3, 0.2);
          box-shadow: 0 3px 20px 0 rgba(3, 3, 3, 0.2);
  opacity: 1;
}

/* Footer */
.footer {
  background: #2c2738;
}

.footer-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-items-title {
  text-align: right;
  padding: 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer-items-title h3 {
  padding-bottom: 1rem;
  font-size: 2.1rem;
  color: #ff9f1c;
}

.footer-items-title p {
  max-width: 800px;
  text-align: right;
  font-size: 1.35rem;
  line-height: 1.8;
  color: #fff;
  opacity: 0.9;
}

.footer-items-more {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 1rem;
  padding-bottom: 5rem;
}

.footer-items-more-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-items-more-item h4 {
  padding-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
}

.footer-items-more-item .line-footer-more {
  width: 70%;
  height: 3px;
  background: #ff9f1c;
  border-radius: 10px;
}

.footer-items-more-item ul {
  margin-top: 1.5rem;
}

.footer-items-more-item ul li {
  margin: 1rem;
}

.footer-items-more-item ul a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #fff;
}

.footer-items-more-item ul a img {
  width: 80%;
}

.footer-down .line-footer-down {
  background: #fff;
  width: 100%;
  height: 3px;
}

.footer-down-items {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-down-items p {
  color: #fff;
}

.footer-down-items p span {
  color: #ff9f1c;
}

.footer-down-items .scroll-btn-up img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
/*# sourceMappingURL=main.css.map */